<h1 style="text-align: center;">THe Ownner Column
  <h4>“A room without books is like a body without a soul.”</h4>
  -- 𝔇𝔦𝔭𝔱𝔞𝔫𝔲
</h1>
<div class="container my-4 ">

  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="https://dispatch.barnesandnoble.com/content/dam/ccr/global/global-nav-banner/2023/06/26815_BOTYSF_6-5.jpg"
          class="d-block w-100" alt="...">
      </div>
    </div>
  </div>
  <br>

  <ul>
    <h4>About Bookly</h4>
    <ol>
      <li> Bookly.com is operated by Diptanu BookInfo Private Limited, an eCommerce Company based out of
        Jolaibari,Tripura,India. It is also the online wing of Jolaibari's Largest Retail Book Mall - Diptanu Book House
        Pvt Ltd.</li>

      <br>
      <li> We are an e-commerce or rather an e-tailing store working on the Mission to give people the most convenient,
        easy
        and secure shopping experience on the web.</li>

      <br>
      <li> Bookly.com has been noted as Jolaibari's fastest growing book retailer on the web and currently has a
        catalogue
        spread of over 10 million books to browse from.</li>

      <br>
      <li> We have a team of experienced people from diverse backgrounds working together to fulfil 3 main objective's -
        benefiting customers of low prices, providing a vast catalogue selection and products and lastly a fast,
        reliable
        and very safe payment and delivery option to the customers.</li>
    </ol>



    <br>
    <h4>More than Books</h4>
    <ol>
      <li> Diptanu BookInfo Private Limited the ideal destination for anyone looking for the best in children's books,
        videos, and
        music. With age-based recommendations, as well as specialty stores that cater to Harry Potter and other big
        titles, it's the ultimate one-stop shop for kids.</li>

      <br>

      <li> Diptanu BookInfo Private Limited is the ideal destination for anyone looking for the best in children's
        books, videos, and
        music. With age-based recommendations, as well as specialty stores that cater to Harry Potter and other big
        titles, it's the ultimate one-stop shop for kids.</li>

      <br>
      <li>Diptanu BookInfo Private Limited is the ideal destination for anyone looking for the best in children's books,
        videos, and
        music. With age-based recommendations, as well as specialty stores that cater to Harry Potter and other big
        titles, it's the ultimate one-stop shop for kids.</li>
      <br>
      <li> Our Music Store has been named the Web's best by Forbes.com. The premier site for Classical, Jazz, Rock, and
        World music, the store's rich content includes exclusive interviews, free downloads, over 1 million sample audio
        clips, nearly 100,000 music reviews, and a roster of 40,000 artist biographies.</li>
      <br>
      <li> In recent years we've added new product lines, expanding our Toys & Games store on the Web; a Magazines
        store, filled with exclusive and hard-to-find titles offering thousands of subscriptions.</li>


      <br>
    </ol>
    <h5>REGISTERED OFFICE:</h5>
    <label>Diptanu BookInfo Private Limited</label>
    <ol>

      <li>Jolaibari</li>
      <li>South Tripura</li>
      <li>Tripura - 799141</li>
      <li>India</li>
      <li>Ph- +91-9366****69</li>
      <li>Email- diptanubaidya**@gamil.com</li>
      <li>Website- diptanubookinfo.pvt.Ltd.</li>
    </ol>
  </ul>
  <td>
    <img class="img2"
      src="https://images.pexels.com/photos/6309872/pexels-photo-6309872.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
      height="400" width="600" alt="">

  </td>
</div>
