<section class="py-5 text-center container sec">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="text">Books Example</h1>
      <p class="text">“We are of opinion that instead of letting books grow moldy behind an iron grating, far
        from the vulgar gaze, it is better to let them wear out by being read.”.
        <br>
        -Jules Verne (French novelist, poet, and playwright)
      </p>
      <p>
        <a routerLink="#" class="btn btn-primary my-2">Paper Books</a>
        <a routerLink="#" class="btn btn-secondary my-2">E-Books</a>
      </p>
    </div>
  </div>
</section>

<div class="bk7 album py-5 ">
  <div class="container">

    <div class="row row-cols-2 row-cols-sm-3 row-cols-md-6 g-1">
      <div class="col">
        <div class="card shadow-sm">
          <img src="https://images-us.bookshop.org/ingram/9781639730377.jpg?height=500&v=v2-da9b4dd5f6701ae75ec0d27455cda908" alt=""
            class="bd-placeholder-img card-img-top" width="100%" height="200">

          <div class="card-body">
            <ul class="card-text">
              <li>ID : 125</li>
              <li>Childhood Unplugged</li>
              <li>₹318.00</li>
              <li>PREMIUM PAPERBACK</li>
              <li>Original Edition</li>
            </ul>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Add</button>
              </div>
              <small class="text-muted">&#x2605; &#x2605; &#x2605; &#x2605;&#x2606;</small>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
          <img src="https://www.bookswagon.com/productimages/images200/325/9781421561325.jpg" alt=""
            class="bd-placeholder-img card-img-top" width="100%" height="200">

          <div class="card-body">
            <ul class="card-text">
              <li>ID : 126</li>
              <li>Uzumaki</li>
              <li>₹418.00</li>
              <li>PREMIUM PAPERBACK</li>
              <li>Original Edition</li>
            </ul>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Add</button>
              </div>
              <small class="text-muted">&#x2605; &#x2605; &#x2605; &#x2605;&#x2606;</small>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
          <img src="https://www.bookswagon.com/productimages/images200/544/9781421520544.jpg" alt=""
            class="bd-placeholder-img card-img-top" width="100%" height="200">

          <div class="card-body">
            <ul class="card-text">
              <li>ID : 127</li>
              <li>Vagabond</li>
              <li>₹518.00</li>
              <li>PREMIUM PAPERBACK</li>
              <li>Original Edition</li>
            </ul>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Add</button>
              </div>
              <small class="text-muted">&#x2605; &#x2605; &#x2605; &#x2605;&#x2606;</small>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
          <img src="https://d2g9wbak88g7ch.cloudfront.net/productimages/images200/791/9781473677791.jpg" alt=""
            class="bd-placeholder-img card-img-top" width="100%" height="200">

          <div class="card-body">
            <ul class="card-text">
              <li>ID : 128</li>
              <li>Nomads</li>
              <li>₹788.00</li>
              <li>PREMIUM PAPERBACK</li>
              <li>Original Edition</li>
            </ul>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Add</button>
              </div>
              <small class="text-muted">&#x2605; &#x2605; &#x2605; &#x2605;&#x2606;</small>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
          <img src="https://d2g9wbak88g7ch.cloudfront.net/productimages/images200/823/9780593336823.jpg" alt=""
            class="bd-placeholder-img card-img-top" width="100%" height="200">

          <div class="card-body">
            <ul class="card-text">
              <li>ID : 129</li>
              <li>Love Hypothesis</li>
              <li>₹518.00</li>
              <li>PREMIUM PAPERBACK</li>
              <li>Original Edition</li>
            </ul>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Add</button>
              </div>
              <small class="text-muted">&#x2605; &#x2605; &#x2605; &#x2605;&#x2606;</small>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
          <img src="https://www.bookswagon.com/productimages/images200/344/9781501110344.jpg" alt=""
            class="bd-placeholder-img card-img-top" width="100%" height="200">

          <div class="card-body">
            <ul class="card-text">
              <li>ID : 130</li>
              <li>November 9</li>
              <li>₹258.00</li>
              <li>PREMIUM PAPERBACK</li>
              <li>Original Edition</li>
            </ul>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Add</button>
              </div>
              <small class="text-muted">&#x2605; &#x2605; &#x2605; &#x2605;&#x2606;</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="https://www.bookswagon.com/productimages/images200/188/9781476753188.jpg" alt=""
            class="bd-placeholder-img card-img-top" width="100%" height="200">

          <div class="card-body">
            <ul class="card-text">
              <li>ID : 131</li>
              <li>Ugly Love</li>
              <li>₹618.00</li>
              <li>PREMIUM PAPERBACK</li>
              <li>Original Edition</li>
            </ul>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Add</button>
              </div>
              <small class="text-muted">&#x2605; &#x2605; &#x2605; &#x2605;&#x2606;</small>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
          <img src="https://www.bookswagon.com/productimages/images200/652/9788175994652.jpg" alt=""
            class="bd-placeholder-img card-img-top" width="100%" height="200">

          <div class="card-body">
            <ul class="card-text">
              <li>ID : 131</li>
              <li>Relativity</li>
              <li>₹518.00</li>
              <li>PREMIUM PAPERBACK</li>
              <li>Original Edition</li>
            </ul>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Add</button>
              </div>
              <small class="text-muted">&#x2605; &#x2605; &#x2605; &#x2605;&#x2606;</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="https://images-us.bookshop.org/ingram/9780593082775.jpg?height=500&v=v2-1490aa1d19d95c2b16a3597ab1f0ab66" alt=""
            class="bd-placeholder-img card-img-top" width="100%" height="200">

          <div class="card-body">
            <ul class="card-text">
              <li>ID : 132</li>
              <li>Mean Baby</li>
              <li>₹818.00</li>
              <li>PREMIUM PAPERBACK</li>
              <li>Original Edition</li>
            </ul>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Add</button>
              </div>
              <small class="text-muted">&#x2605; &#x2605; &#x2605; &#x2605;&#x2606;</small>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
          <img src="https://images-us.bookshop.org/ingram/9781250820563.jpg?height=500&v=v2-fb9f87366dd162aa12664898ce458b88" alt=""
            class="bd-placeholder-img card-img-top" width="100%" height="200">

          <div class="card-body">
            <ul class="card-text">
              <li>ID : 133</li>
              <li>Siren Queen</li>
              <li>₹418.00</li>
              <li>PREMIUM PAPERBACK</li>
              <li>Original Edition</li>
            </ul>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Add</button>
              </div>
              <small class="text-muted">&#x2605; &#x2605; &#x2605; &#x2605;&#x2606;</small>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
          <img src="https://images-us.bookshop.org/ingram/9780316498913.jpg?height=500&v=v2-0a688398128909248d1eeb5365d9dd47" alt=""
            class="bd-placeholder-img card-img-top" width="100%" height="200">

          <div class="card-body">
            <ul class="card-text">
              <li>ID : 135</li>
              <li>Less Is Lost</li>
              <li>₹718.00</li>
              <li>PREMIUM PAPERBACK</li>
              <li>Original Edition</li>
            </ul>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Add</button>
              </div>
              <small class="text-muted">&#x2605; &#x2605; &#x2605; &#x2605;&#x2606;</small>
            </div>
          </div>
        </div>
      </div>


      <div class="col">
        <div class="card shadow-sm">
          <img src="https://images-us.bookshop.org/ingram/9780593498088.jpg?height=500&v=v2-b1624543a39b0afe37d04cae7570560d" alt=""
            class="bd-placeholder-img card-img-top" width="100%" height="200">

          <div class="card-body">
            <ul class="card-text">
              <li>ID : 136</li>
              <li>Solito: A Memoir</li>
              <li>₹318.00</li>
              <li>PREMIUM PAPERBACK</li>
              <li>Original Edition</li>
            </ul>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Add</button>
              </div>
              <small class="text-muted">&#x2605; &#x2605; &#x2605; &#x2605;&#x2606;</small>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<div class="btn-mk my-4  ">
  <a routerLink="/Books"><button type="button" class="btn btn-lg btn-outline-dark text-dark bg-light">Previous</button></a>
   <a routerLink="/more-books"><button type="button" class="btn btn-lg btn-outline-dark ms-2 text-dark bg-light">Next</button></a>
 </div>
