<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
      aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
      aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
      aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://www.bookswagon.com/images/bannerimages/80_inr.jpg?v=1.6" class="d-block w-100" alt="..."
        height="600px">
      <div class="carousel-caption d-none d-md-block">
        <h5> Ray Bradbury, Fahrenheit 451</h5>
        <p> "The magic is only in what books say, how they stitched the patches of the universe together into one
          garment for us."</p>
      </div>
    </div>

    <div class="carousel-item active">
      <img src="https://www.bookswagon.com/images/bannerimages/82_inr.jpg?v=1.8" class="d-block w-100" alt="..."
        height="600px">
      <div class="carousel-caption d-none d-md-block">
        <h5> Ray Bradbury, Fahrenheit 451</h5>
        <p> "The magic is only in what books say, how they stitched the patches of the universe together into one
          garment for us."</p>
      </div>
    </div>

    <div class="carousel-item">
      <img src="https://www.bookswagon.com/images/promotionimages/web/MedicalWeb.jpg?v=1.6" class="d-block w-100"
        alt="..." height="600px">
      <div class="carousel-caption d-none d-md-block">
        <h5>Cassandra Clare, Clockwork Angel</h5>
        <p> “One must always be careful of books... and what is inside them, for words have the power to change us.”</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="https://images.pexels.com/photos/2067569/pexels-photo-2067569.jpeg?auto=compress&cs=tinysrgb&w=600"
        class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="400" height="300" loading="lazy">
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3">Specially We Are Design Book Column For Father's</h1>
      <p class="lead">
        On this special day, we celebrate fathers everywhere,
        For their love, strength, and the burdens they bear.
        They teach us life's lessons, lead us with care,
        With a gentle touch, they're always there.So, let's honor and cherish our fathers today,Express our gratitude in
        every heartfelt way.
        For they deserve recognition and appreciation,
        Happy Father's Day, a heartfelt dedication.</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">More View</button>
      </div>
    </div>
  </div>
</div>
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="https://dispatch.barnesandnoble.com/content/dam/ccr/homepage/daily/2023/06/07/26809_BB_C_FathersDay_06-07.jpg"
        class="d-block w-100" alt="...">
    </div>
  </div>
</div>


<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="https://images.pexels.com/photos/3779187/pexels-photo-3779187.jpeg?auto=compress&cs=tinysrgb&w=1600"
        class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="400" height="300" loading="lazy">
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3">Best Books of 2023</h1>
      <p class="lead">
        A captivating masterpiece that takes you on an unforgettable journey.
        A literary gem that weaves a tapestry of emotions and imagination.
        A thought-provoking work that challenges perspectives and expands horizons.An eloquent storytelling marvel that
        leaves an indelible mark on your soul.A page-turning adventure filled with suspense, twists, and unputdownable
        allure</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">More View</button>
      </div>
    </div>
  </div>
</div>
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="https://dispatch.barnesandnoble.com/content/dam/ccr/homepage/daily/2023/13/26774_BB_B_BestBooksofYearSF_06-05.jpg"
        class="d-block w-100" alt="...">
    </div>
  </div>
</div>

<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="https://images.pexels.com/photos/4855559/pexels-photo-4855559.jpeg?auto=compress&cs=tinysrgb&w=1600"
        class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="400" height="300" loading="lazy">
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3">Our's Premium Membership</h1>
      <p class="lead">
        Unlock a world of exclusive benefits with our premium membership.
        Experience the pinnacle of service and exceptional privileges.
        Indulge in premium features designed to enhance your enjoyment.
        Access a treasure trove of exclusive content and personalized perks.
        Enjoy priority access, seamless convenience, and elevated experiences.
        Elevate your status and be treated to the utmost VIP treatment.
        Discover a realm of luxury, tailored to your discerning tastes.
        Maximize your membership and elevate your lifestyle to new heights.</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">More View</button>
      </div>
    </div>
  </div>
</div>
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="https://icedt.org/images/about/ICEDT-Premium%20(2).jpeg"
        class="d-block w-100" alt="...">
    </div>
  </div>
</div>

<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="https://images.pexels.com/photos/2859598/pexels-photo-2859598.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="400" height="300" loading="lazy">
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3">Let's Talk About The Conclusion</h1>
      <p class="lead">
        Bookshops play a vital role in our society as cultural hubs and repositories of knowledge. They offer a unique experience, allowing readers to browse physical books, engage in discussions, and discover new literary works. Despite the rise of digital platforms, bookshops continue to thrive by adapting to changing trends and providing a tangible and personal connection to literature. They serve as community spaces, hosting events, book clubs, and author signings, fostering a sense of belonging and intellectual exchange. Bookshops also support local authors and publishers, promoting diverse voices and independent literature. In an era of information overload, bookshops offer a curated selection, guiding readers towards meaningful and thought-provoking reads. Overall, bookshops remain essential in fostering a love for literature, nurturing intellectual curiosity, and preserving the joy of physical books in our increasingly digital world.</p>
    </div>
  </div>
</div>
